html,
body {
  font-family: Helvetica, sans-serif;
  font-size: 16px;
  margin: 0;
  background-color: white;
}
/* 
* {
  border: red 0.25px dotted; 
} */

.postsDisplay{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.TopField {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

h1 {
  text-align: center;
}

/* #authContentId{
  display: block;
} */

/*=======================From here Contact us FORM with the animation movement of PlaceHolder*/
form {
  margin: 1rem;
}

.field {
  box-sizing: border-box;/**/
  width: 25rem;
  height: 2.5rem; /*Changing the height of the fields*/
  margin: 0;
  padding: 1rem; /*Changing the TYPING PLACE padding inside the fields*/
  border: 1px solid #ccc;
  border-radius: 1.5rem;
  background: #fff;
  resize: none;
  outline: none;
}

.label-field {
  display: flex; /**/
  pointer-events: none;
  line-height: 1.25em;
  margin: -2rem 2rem 1rem; /*Adjusts the placeholder word in middle of the field*/
  width: 50%;

}

.field:focus {  /*Changing the border color*/
  border-color: #00bafa;
}

.field:focus + .label-field::before { /*Changing the font color*/
  color: #00bafa;
  font-weight: bold;
  background-color: transparent;
  border: solid 0.1rem;
  border-radius: 0.5rem;
  padding: 0.2rem;
}

.field:focus + .label-field:before,
.field:valid + .label-field:before {
  transition-duration: 0.2s; /*Adjust the placeholder's 'speed' moving up to it's field's line*/
  transform: translate(0, -1.5rem) scale(0.9, 0.9); /*The SCALE, changes the placeholder 'word' height or width when moves on the field's line*/
/*The TRANSLATE; adjust the amount of movement of the placeholder to go up/down; after entering a content.*/
}

.label-field:before {
  content: attr(placeholder);
  color: #898989; /*Changing the placeholder's font-color*/
  transition: 0.3s ease-in-out;  /*Adjust the placeholder's 'speed' coming back to it's field*/
  background-image: linear-gradient(to bottom, #fff, #fff); /*Center of the placeholder word coloring*/
  background-size:100% 2rem;
  background-repeat: no-repeat;/*Avoids unnecessarily background color under the PLACEHOLDER WORD*/
  background-position: center; /*Places a background color under the placeholder, when moves up/down on the field's line*/
  border-radius: 0.2rem;
}
/* Until here; Contact us form with the animation movement of PlaceHolder*/

.FormSubmitBTN {
  background-color: #00bafa;
  height: 2rem;
  width: 5rem;
  border-radius: 0.5rem;
  font-weight: bold;
  font-size: large;
  margin-bottom: 1rem;
}

.FormSubmitBTN:hover {
  background-color: rgb(72, 37, 228);
}

.CommentFiled {
  height: 7rem;
}

#CommentLabel {
  transform: translate(0, -4.8rem) scale(0.9, 0.9); 
}

/*============================================Footer area with London's Image*/
.footerClass {
  display: flex;
  align-items: flex-start;
  background-image: url("../images/footer-copy.png");
  height: 20rem; /* set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}




/*For Mobile Display*/
@media only screen and (max-width: 600px) {

  body, html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
    
  div {
    display: flex;
    flex-direction: column;
  }

  .ImageCoverHome {
    height: 100%;
  }

}

@media only screen and (min-width: 12rem) {

  body,
  html {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
